body{
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent);
}

.content {
	position: fixed;
	bottom: 50px;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 50%;
	padding: 30px;
}

#myBtn {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#myBtn:hover {
	background: #ddd;
	color: black;
}

canvas {
	position: fixed;
	width: 100%;
	height: 100%;
}
