body{
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(0, 70, 90, 0.13), transparent);
}

.content {
	margin: 0px;
	position: relative;
	left: 70px;
	top: 650px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 30%;
	padding: 20px;
	padding-bottom: 60px;
}

#myBtn {
	position: absolute;
	top: 85px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#myBtn:hover {
	background: #ddd;
	color: black;
}

canvas {
	position: fixed;
	width: 100%;
	height: 100%;
}

/* MENU BUTTON */
.menu__toggler {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 999;
  height: 40px;
  width: 40px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 30px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
  top: -12px;
}
.menu__toggler span::after {
  top: 12px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: #fff;
  top: 0px;
}
.menu__toggler.active > span::before {
  transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
  transform: rotate(225deg);
}

/* SLIDING MENU PANEL */
.menu {
  position: absolute;
  left: -15%;
  z-index: 998;
  color: #fff;
  font-family: Helvetica;
  background: rgba(40, 40, 40, 0.2);
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  width: 15%;
  height: 100%;
  padding: 50px;
  padding-top: 120px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.menu.active {
  left: 0;
}
.menu p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
